
{% load static %}

{% block title %} Settings {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Biotechnology and Genetic Engineering</title>
  <meta content="Biotechnology and Genetic Engineering islamic university bangladesh" name="description">
  <meta google-site-verification=E6vuOj4KgLPmNJUB0feIkW-zthXIPuH1XOgyBPpG0Hw name="description">

  <meta content="Biotechnology and Genetic Engineering islamic university bangladesh kushtia " name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/logo.svg" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">



</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center" data-bs-theme="light">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope-fill"></i><a href="mailto:chairman@ge.iu.ac.bd">nazimrajbd@gmail.com</a>
        <i class="bi bi-phone-fill phone-icon"></i> 01728-637047
      </div>
      <div class="social-links d-none d-md-block">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <!-- <h1 class="logo me-auto"><a href="index.html">Biotechnology and Genetic Engineering</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="index.html" class="logo me-auto"><img src="/static/assets/img/logo.svg" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Programs</a>

          </li>
          <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#team">Faculties</a></li>
          <li><a class="nav-link scrollto" href="/alumni">Alumni</a></li>
          <li><a class="nav-link scrollto" href="/login">Login</a></li>


        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(/static/assets/img/slide/slide-1.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Biotechnology and Genetic
                  Engineering</span></h2>
              <p class="animate__animated animate__fadeInUp"> at Islamic University, Kushtia, Bangladesh.</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(/static/assets/img/slide/slide-2.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Fields of Study</h2>
              <p class="animate__animated animate__fadeInUp">To provide solution-based education with cutting edge
                knowledge in Biotechnology and Genetic Engineering in order to harness the latest technologies and
                methodologies for the graduates </p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(/static/assets/img/slide/slide-3.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Vision of Our Study</h2>
              <p class="animate__animated animate__fadeInUp">Providing cutting-edge knowledge and state-of-the-art
                technologies and skills in the field of biotechnology and genetic engineering for sustainable
                development of society and environment.</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services section-bg">
      <div class="container">

        <div class="row no-gutters">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-globe-americas"></i></div>
              <h4 class="title">Mission</h4>
              <p class="description">
              <ul>
                <li>To provide quality education for providing competent graduates in biotechnology and genetic
                  engineering to contribute in different sectors including agriculture, healthcare, industry and
                  environment.</li>
                <li>To facilitate the development of scientists, entrepreneurs, and policymakers towards nation building
                  program.</li>
                <li>To disseminate knowledge and skills for the betterment of the society and promote meaningful
                  collaboration with academia, industry and research organization across the globe.</li>
              </ul>
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-briefcase"></i></div>
              <h4 class="title">Program Objectives</h4>
              <p class="description">To provide solution-based education with cutting edge knowledge in Biotechnology
                and Genetic Engineering in order to harness the latest technologies and methodologies for the graduates
                in the following field:
              <ul>
                <li>Microbial Biotechnology</li>
                <li>Medical and Pharmaceutical Biotechnology</li>
                <li>Industrial (bioprocess) Biotechnology</li>
                <li>Agricultural (plant and animal) Biotechnology</li>
                <li>Food Biotechnology</li>
                <li>Environmental Biotechnology</li>
                <li>Bioinformatics and System Biology</li>

              </ul>
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-calendar4-week"></i></div>
              <h4 class="title">Our Journey</h4>
              <p class="description">Founded in 1998, the department commenced its academic activities from the academic
                session 1998-1999 with a view to providing high quality education and research in the field of
                biotechnology and genetic engineering. Founding Chairman was Prof. Dr. M. Alauddin, a reputed professor
                and ex-Vice Chancellor of the Islamic University, Kushtia and Prof. Dr A.K.M. Nazmul Huda is currently
                serving as the Chairman of the department.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About Us</h2>
          <p>Founded in 1998, the department commenced its academic activities from the academic session 1998-1999 with
            a view to providing high quality education and research in the field of biotechnology and genetic
            engineering. Founding Chairman was Prof. Dr. M. Alauddin, a reputed professor and ex-Vice Chancellor of the
            Islamic University, Kushtia and Prof. Dr A.K.M. Nazmul Huda is currently serving as the Chairman of the
            department.</p>
        </div>

        <div class="row">
          <div class="">
            <img src="/static/assets/img/about.jpg" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">
        <h2 class="section-title">Research Facilities</h2>

        <div class="row no-gutters">

          <div class="col-lg-4 col-md-6 content-item">
            <span>01</span>
            <h4>Laboratory of Microbiology</h4>
            <p>Laboratory of Microbiology is a specialized facility where researchers study microorganisms, including
              bacteria, viruses, fungi, and protozoa. Microbiology encompasses various subfields, including medical
              microbiology, environmental microbiology, industrial microbiology, and microbial ecology. These
              laboratories are equipped with instruments and techniques for culturing, isolating, identifying, and
              characterizing microorganisms, as well as for studying their interactions with each other and with their
              environments. </p>
          </div>

          <div class="col-lg-4 col-md-6 content-item">
            <span>02</span>
            <h4>Laboratory of Molecular Biology</h4>
            <p>Laboratory of Molecular Biology is a specialized facility where researchers investigate the molecular
              mechanisms underlying various biological processes. Molecular biology is a branch of biology that focuses
              on the structure, function, and interactions of biomolecules, particularly nucleic acids and proteins, and
              how they regulate the genetic information within cells. These laboratories are equipped with
              state-of-the-art instruments and techniques for studying DNA, RNA, proteins, and their interactions.</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item">
            <span>03</span>
            <h4>Laboratory of Biochemistry</h4>
            <p>Laboratory of Biochemistry is a specialized facility where researchers conduct experiments and
              investigations in the field of biochemistry. Biochemistry is the branch of science that explores the
              chemical processes and substances that occur within living organisms. These laboratories are equipped with
              instruments, tools, and expertise necessary for studying the structure, function, and interactions of
              biological molecules such as proteins, nucleic acids, lipids, and carbohydrates.</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item">
            <span>04</span>
            <h4>Laboratory of Plant Tissue Culture</h4>
            <p>Geology lab is equipped with a wide array of tools and instruments designed to aid in the study of
              Earth's materials. Microscopes allow for detailed examination of rock and mineral samples, enabling
              geologists to identify their composition and study their microscopic features. Petrographic microscopes,
              in particular, facilitate the analysis of thin sections, thin slices of rocks or minerals mounted on glass
              slides. These microscopes enable researchers to observe the mineralogy, texture, and structures of rocks
              at a microscopic scale</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item">
            <span>05</span>
            <h4>Laboratory of Cytogenetics</h4>
            <p>Our Seminar liabrary has a vast collection of academic books to increase knowlege of our students</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item">
            <span>06</span>
            <h4>Laboratory of Bioinformatics</h4>
            <p> Laboratory of Bioinformatics is a specialized facility dedicated to research and development in the
              field of bioinformatics. Bioinformatics is an interdisciplinary field that combines biology, computer
              science, mathematics, and statistics to analyze and interpret biological data, particularly data generated
              from high-throughput experimental techniques such as genomics, proteomics, and transcriptomics.</p>
          </div>
          <div class="col-lg-4 col-md-6 content-item">
            <span>07</span>
            <h4>Laboratory of Environmental and Clinical Microbiology</h4>
            <p>Laboratory of Environmental and Clinical Microbiology is a specialized facility that focuses on studying
              microorganisms in both clinical and environmental contexts. These laboratories play a crucial role in
              various fields, including public health, environmental science, medicine, and biotechnology.</p>
          </div>
          <div class="col-lg-4 col-md-6 content-item">
            <span>08</span>
            <h4>Laboratory of Nanobiotechnology</h4>
            <p>Laboratory of Nanobiotechnology is a specialized research facility focused on the intersection of
              nanotechnology and biotechnology. Nanobiotechnology involves the manipulation of materials and devices at
              the nanoscale (typically ranging from 1 to 100 nanometers) to develop innovative solutions for biological
              and medical applications.</p>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->


    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Courses</h2>
          <p>We offer various courses</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-blue">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5"
                    d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174">
                  </path>
                </svg>
                <i class="bi bi-mortarboard-fill"></i>
              </div>
              <h4>BSc in Biotechnology and Genetic Engineering</h4>
              <p>We offer a 4 years of course in Biotechnology and Genetic Engineering</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
            data-aos-delay="200">
            <div class="icon-box iconbox-orange ">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5"
                    d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426">
                  </path>
                </svg>
                <i class="bi bi-mortarboard-fill"></i>
              </div>
              <h4>MSc in Biotechnology and Genetic Engineering</h4>
              <p>We offer a 2 years of course in Biotechnology and Genetic Engineering</p>
            </div>
          </div>




        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>Contract With The Authority</h3>
            <p> </p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Call To Action</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <h2></h2>
          <p>Our Captured Moments </p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Academic</li>
              <li data-filter=".filter-card">Co-caricular</li>
              <li data-filter=".filter-web">Facilities</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 1</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="/static/assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery"
                    class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="/static/assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery"
                    class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 2</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="/static/assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery"
                    class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 2</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="/static/assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery"
                    class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 2</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="/static/assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery"
                    class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 2</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="/static/assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery"
                    class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 2</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="/static/assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery"
                    class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 2</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="/static/assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery"
                    class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 2</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="/static/assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery"
                    class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>







        </div>

      </div>
    </section><!-- End Portfolio Section -->
    
    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Faculties</h2>
          <p>Very efficient faculties for quality education</p>
        </div>
        {% for i in profile %}
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="{{i.get_avatar}}" alt=""/>
            <p>{{i.name}}</p>
            
            <a href="/details-2.html"><h4>{{ i.user.get_full_name }}</h4></a>
            <span>{{i.designation}}</span>
            <span>Phone:{{i.phone}}</span>
            <p>
              
            </p>
            <div class="social">
              <a href="https://www.facebook.com/ESGIU"><i class="bi bi-twitter"></i></a>
              <a href="{{i.facebook}}"><i class="bi bi-facebook"></i></a>
              <a href="https://www.facebook.com/ESGIU"><i class="bi bi-instagram"></i></a>
              <a href="https://www.facebook.com/ESGIU"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
        {%endfor%}

        
        

        
          
          

      </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>

          <p>Contact Information

            Chairman
            Dept of Biotechnology and Genetic Engineering <br>
            Islamic University, Kushtia-7003, Bangladesh <br>

            Tel : +880-71-7900-12 Ext. 2306 <br>
            Mob : + 88 01728-637047 <br>
            Email : nazimrajbd@gmail.com <br>
            Facebook : Find us on facebook <br>
            Web : www.iu.ac.bd</p>
        </div>

        <div class="row">

          <div class=" d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Dept of Biotechnology and Genetic Engineering


                  Faculty of Applied Science and Technology
                  Islamic University, Kushtia-7003, Bangladesh</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>nazimrajbd@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+ 880 1674-489010</p>
              </div>

              <div class="container"><iframe
                  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1408.2885238734636!2d89.15225530235682!3d23.72423426670275!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39feeb0d372d3c55%3A0xc90f88d8303ad44a!2sFaculty%20of%20Applied%20Science%20and%20Technology!5e0!3m2!1sen!2sus!4v1710227926040!5m2!1sen!2sus"
                  style="border:0;" allowfullscreen="" loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"></iframe></div>


            </div>

          </div>



        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Biotechnology and Genetic Engineering</h3>
      <p>Islamic University, Kushtia, Bangladesh.</p>
      <div class="social-links">
        <a href="https://www.facebook.com/ESGIU" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/ESGIU" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.facebook.com/ESGIU" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.facebook.com/ESGIU" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="https://www.facebook.com/ESGIU" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Saikoth Jahan</span></strong>. All Rights Reserved
      </div>
      <div class="credits">

        Designed by <a href="https://www.facebook.com/profile.php?id=100093692016706">Saikoth Jahan</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</body>

</html>